# $ conda env create --file <this file>
DRMAAtic-lib==1.0.8
Django
djangorestframework
django-filter
django-extensions
django-cors-headers
environs
PyJWT
PyMySQL
pytimeparse
PyYAML
requests
mysqlclient
django-admin-rangefilter
setuptools
backports.zoneinfo; python_version < "3.9"
tzdata
