#header {
    background-color: #ab3434;
}

.theme-toggle svg.theme-icon-when-auto, .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light {
    color: #ab3434 !important;
}

div.breadcrumbs {
    background-color: #792424;
}

#site-name > a:after {
    content: " DEBUG";
}
