{% load static %}
{% block style %}
    <link rel="icon" type="image/ico" href="{% static 'favicon/favicon.svg' %}" />
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title>DRMAAtic</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swagger-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/swagger-ui-dark.css' %}"/>
</head>
<body>
<div id="swagger-ui"></div>
<script src="{% static 'js/swagger-ui-bundle.js'%}"></script>
<script>
    const ui = SwaggerUIBundle({
        oauth2RedirectUrl: window.location.origin + "/",
        url: "{% static 'swagger.yml' %}",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
        requestInterceptor: (request) => {
            request.headers['X-CSRFToken'] = "{{ csrf_token }}"
            return request;
        },
    })
    // Define the clientId based on the environment
    let clientId;
    switch (window.location.hostname) {
        case "dev.drmaatic.biocomputingup.it":  // staging
            clientId = "APP-H456ILXFAV2PFA0X";
            break;
        case "drmaatic.biocomputingup.it":   // production
            clientId = "APP-2V4C9S2X746EFPFF";
            break;
        default:
            clientId = "APP-H456ILXFAV2PFA0X";  // local dev
    }

    ui.initOAuth({
        clientId: clientId,
        scopes: "openid",
    })
</script>
</body>
</html>
